Repository Signbank/Global-signbank, pull requests merged in 2024-10, with the labels that each got.

#1335 #1331: Improve error reporting (phase 1)
  signbank/api_interface.py
  signbank/dictionary/adminviews.py
  signbank/manage_videos.py
  signbank/zip_interface.py
Labels: completed

#1340 Error code improvement
  docs/signbank-api.json
  signbank/api_interface.py
  signbank/dictionary/models.py
  signbank/dictionary/templates/dictionary/import_media.html
  signbank/dictionary/templates/dictionary/missingvideo.html
  signbank/dictionary/urls.py
  signbank/dictionary/views.py
  signbank/manage_videos.py
  signbank/settings/server_specific/default.py
  signbank/video/models.py
  signbank/zip_interface.py
Labels: high priority, signbank-test

#1334 #1330: Report constraint error as alert to user, not as message
  media/js/gloss_edit_color.js
  signbank/dictionary/models.py
  signbank/dictionary/update.py
Labels: completed

#1328 #1307: Model, upload, videos from different perspectives
  signbank/dictionary/adminviews.py
  signbank/dictionary/models.py
  signbank/dictionary/templates/dictionary/gloss_detail.html
  signbank/dictionary/update.py
  signbank/dictionary/views.py
  signbank/gloss_morphology_update.py
  signbank/gloss_update.py
  signbank/query_parameters.py
  signbank/video/forms.py
  signbank/video/management/commands/importvideo.py
  signbank/video/migrations/0012_glossvideoperspective.py
  signbank/video/models.py
  signbank/video/views.py
Labels: completed, has migrations, signbank-susan

#1338 API for create and delete sentences, URL field added #1203
  docs/signbank-api.json
  signbank/api_interface.py
  signbank/dictionary/models.py
  signbank/dictionary/templates/dictionary/add_annotated_sentence.html
  signbank/dictionary/templates/dictionary/edit_annotated_sentence.html
  signbank/dictionary/templates/dictionary/gloss_detail.html
  signbank/dictionary/update.py
  signbank/dictionary/urls.py
  signbank/gloss_update.py
  signbank/video/admin.py
  signbank/video/forms.py
  signbank/video/migrations/0013_annotatedvideo_url.py
  signbank/video/models.py
  signbank/video/views.py
Labels: has migrations

#1357 File writing video path bugs avoidance
  media/js/drag_drop_files.js
  signbank/dictionary/models.py
  signbank/dictionary/templates/dictionary/gloss_detail.html
  signbank/dictionary/update.py
  signbank/dictionary/views.py
  signbank/gloss_update.py
  signbank/video/admin.py
  signbank/video/forms.py
  signbank/video/models.py
  signbank/video/urls.py
  signbank/video/views.py
Labels: signbank-test
